.footer {
width : 100%;
text-align : center;
margin-top : 5px;
padding : 1px;
background : #BBB;
color : #AAA;
}
input {
font-family : "Verdana, Myriad Web, Syntax, sans-serif";
font-size : 11pt;
font-weight : bold;
background-color : #EEE;
border-color : #777777;
border-style : inset;
border-width : 2px;
color : #000;
}
input.button {
font-size : 11pt;
font-weight : bold;
color : #000;
background-color : #999;
border-style : outset;
border-width : 1px;
}
.inputhidden {
font-size : 11pt;
font-weight : bold;
color : #888;
background-color : #BBB;
border : none;
}
textarea {
font-family : "Verdana, Myriad Web, Syntax, sans-serif";
font-size : 11pt;
font-weight : bold;
background-color : #EEE;
border-color : #336699;
border-style : inset;
border-width : 2px;
color : #000;
}
select {
font-family : "Verdana, Myriad Web, Syntax, sans-serif";
font-size : 11pt;
font-weight : bold;
background-color : #EEE;
border-color : #336699;
border-style : inset;
border-width : 2px;
color : #000;
}
fieldset {
border : 1px solid #EEE;
}
legend {
color : #000000;
background : #999966;
font-size : 10px;
font-weight : bold;
border : 1px solid #EEE;
padding : 2px 6px;
}
tfoot, thead {
font-size : 1em;
word-spacing : normal;
letter-spacing : normal;
text-transform : none;
font-family : "Verdana, Myriad Web, Syntax, sans-serif";
}
col, colgroup {
color : #000000;
text-decoration : none;
border-color : #336699;
border-style : none;
background : #bbb;
}
.tdlight {
background-color : #333333;
padding : 2px;
font-size : 11pt;
}
.tddark {
background-color : #BBB;
padding : 2px;
font-size : 11pt;
}
table, tbody, tr, td {
color : #000;
padding-left : 2px;
padding-right : 2px;
border-color : #336699;
border-style : none;
border-width : 1px;
background : #BBB;
font-size : 11pt;
margin-left : 1%;
word-spacing : normal;
letter-spacing : normal;
text-align : left;
text-transform : none;
font-family : "Verdana, Myriad Web, Syntax, sans-serif";
font-weight : bold;
}
td.monlogs {
padding-left : 5px;
padding-right : 5px;
text-align : center;
}
th {
text-align : left;
vertical-align : baseline;
font-size : 1em;
font-weight : bold;
word-spacing : normal;
letter-spacing : normal;
text-transform : none;
font-family : "Verdana, Myriad Web, Syntax, sans-serif";
}
a:link {
text-decoration : none;
font-weight : bold;
color : #00F;
font-size : 11pt;
}
a:visited {
text-decoration : none;
font-weight : bold;
color : #00F;
font-size : 11pt;
}
a:active {
text-decoration : none;
font-weight : bold;
color : #00F;
font-size : 11pt;
}
a:hover {
text-decoration : none;
color : #00F;
background : #00f;
font-size : 11pt;
}
a.offsite {
text-decoration : none;
font-weight : normal;
color : #00F;
font-size : 11pt;
}
a:link.imgg {
color : #000000;
}
a:link.alink {
color : red;
font-weight : bold;
}
a:link.alinkblue {
color : blue;
font-weight : bold;
}
a:link.alinkgreen {
color : green;
font-weight : bold;
}
a:link.alinklightgreen {
color : #00ff00;
font-weight : bold;
}
hr {
margin-top : 0.75em;
margin-bottom : 0.75em;
padding-top : 0;
padding-bottom : 0;
border-top : 0;
border-bottom : 0;
height : 1px;
}
h1 {
color : #444;
margin-left : 0;
margin-right : 0;
padding-left : 0;
padding-right : 0;
border-left : 0;
border-right : 0;
}
h1.center {
text-align : center;
}
h2 {
color : #444;
margin-left : 0;
margin-right : 0;
padding-left : 0;
padding-right : 0;
border-left : 0;
border-right : 0;
}
h2.center {
text-align : center;
}
h3 {
color : #444;
margin-left : 0;
margin-right : 0;
padding-left : 0;
padding-right : 0;
border-left : 0;
border-right : 0;
}
h3.center {
text-align : center;
}
h4 {
color : #444;
margin-left : 0;
margin-right : 0;
padding-left : 0;
padding-right : 0;
border-left : 0;
border-right : 0;
}
h4.center {
text-align : center;
}
h5 {
color : #444;
margin-left : 0;
margin-right : 0;
padding-left : 0;
padding-right : 0;
border-left : 0;
border-right : 0;
}
h5.center {
text-align : center;
}
h6 {
color : #444;
margin-left : 0;
margin-right : 0;
padding-left : 0;
padding-right : 0;
border-left : 0;
border-right : 0;
}
h6.center {
text-align : center;
}
body {
color : #000;
background : #BBB;
margin-top : 1%;
margin-left : 1.5%;
margin-right : 1%;
font-size : 11pt;
font-family : "Verdana, Myriad Web, Syntax, sans-serif";
}

